body {
  background-color: #939393;
}

h1 {
  text-align: center;
  font-size: 48px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 1000px;
}

  /*All left-specific CSS goes here*/
.leftDiv {
  width: 19.5%;
  background: url('/images/movie_reel.png');
  background-repeat:repeat-y;
  max-width: 250px;
}
.recentsDiv h3 {
  position: absolute;
  margin-top: -20px;
  margin-left: 56px;
}
.recentMoviePosters {
  padding-left: 58px;
}
.recentMoviePoster {
  width: 134px;
  height: 177px;
  padding-bottom: 20px;
  padding-top: 13px;
  padding-bottom: 3px;
}


  /*---------------------------------*/
  /*All center-specific CSS goes here*/
  /*---------------------------------*/
.centerDiv {
  width: 60%;
}
 /*--------------Display results from a search------------*/
.displayResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.foundMovie {
  text-align: center;
  width: 40%;
  height: 500px;
}
.foundMoviePoster {
  width: 250px;
  height: 400px;
}
.foundMovie h4 {
  margin-top: -2px;
}
.foundMovie p {
  margin-top: -18px;
}

 /*--------------Display single movie---------------------*/
 .singleMovie {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }
 .infoDiv {
   width: 45%;
 }
 .infoPoster {
   width: 40%;
 }



  /*All right-specific CSS goes here*/
.rightDiv {
  width: 19.5%;
  background: url('/images/movie_reel.png');
  background-repeat:repeat-y;
  max-width: 250px;
}
